@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family:  "Inter", sans-serif;

}


.alert{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #030B1D;
    padding: 16px 24px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    font-size: 15px;
    z-index: 300;
    color: white;
   
}

.fa-bars{
    /* border: 2px solid red; */
    font-size: 2em;
    color: white;
    display: none;
}


.links{
    display: flex;
    gap: 2em;
}

.links a{
    color: white;
   font-weight: 700;
}


.links a:hover{
    text-decoration: underline;
}

/* header starts here */

header{
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    background-color: #031335;
    z-index: 299;
}


  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 36px;
}

.logo img{
    width: 150px;
    display: block;
}

.left-nav{
    display: flex;
    align-items: center;
    gap: .5em;
}

.page-type{
    display: flex;
    gap: .5em;
}

.page-type li a{
    color: #ffffff;

}

.right-nav{
    display: flex;
    align-items: center;
    gap: 1em;
}

.right-nav a{
    color: #ffffff;
}

.signin-btn{
    background-color: #C4E9FD;
    border: none;
    color: black;
    padding: 10px 12px;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 600;
}

.flag img{
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    margin-top: 2px;
}


.active-tab{
    background-color: #35425D;
    padding: 10px 16px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
}

.personal:hover{
    background-color: #35425D;
    padding: 10px 16px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
    
}



/* Header media query starts here */

@media(max-width:994px){
    .header-cont{
        max-width: 100%;
        position: relative;

    }

    .page-type li a{
        padding: 8px 14px;
    }

    .right-nav li{
        display: none;
    }

    .fa-bars{
        display: block;
    }
  
   .page-type{
    display: none;
   }

   }


@media(max-width:625px){
    .alert{
       display: flex;
       flex-direction: column;
       top: auto;
       bottom: 0;
       left: 0;
       width: 100%;
       text-align: center;
    }

    header{
        top: 0;
    }

}

@media(max-width:557px){
    nav{
        padding: 20px 28px;
    }
    

}

@media(max-width:427px){

    .logo{
        /* border: 2px solid gold; */
        width: 120px;
    }

    .fa-bars{
        font-size: 1.8em;
        margin-top: 5px;
    }


    nav{
        padding: 20px 24px;
    }
    

}



/* hero section starts here  */

.hero{
    /* width: 100%; */
    background-color: #031335;
    position: relative;
    z-index: 280;
    top: 120px;
}

.hero-inner{
    /* border: 2px solid gold; */
    margin: 0 auto;
    padding: 28px 36px;
    /* max-width: 2100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-left{
    max-width: 550px;
    color: #ffffff;
    width: 50%;
}


.herobadge{
    display: inline-block;
    background-color: #3E588E;
    padding: 20px 18px;
    border-radius: 30px;
    font-size: 14px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.15);

}

.hero-title{
    font-size: 3.4em;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-title span{
    color: #C4E9FD;
    display: inline-block;
}


.hero-text{
    font-size: 1em;
    flex-wrap: wrap;
    opacity: 0.7;
    line-height: 1.6;
    margin-bottom: 30px;

}

.hero-btn{
   background-color: #0357EE;
   color: #ffffff;
   border: none;
   padding: 20px 28px;
   border-radius: 10px;
   font-weight: 600;
   cursor: pointer;
   margin-bottom: 25px;
   transition: 0.3s ease-in-out;
}

.hero-btn:hover{
    opacity: 0.9;
}

.hero-trust{
    font-size: 11px;
    opacity: 0.8;
}

.hero-right img{
    width: 600px;
    /* object-fit: cover;  */
}



/* hero section media query */

@media(max-width:1255px){
   .hero-right img{
    width: 550px;
   }

}

@media(max-width:1203px){
   .hero-right img{
    width: 530px;
   }

   .hero-title{
    /* border: 2px solid gold; */
    font-size: 3em;
    max-width: 600px;
   }
   
}


@media(max-width:1130px){
    .hero-right img{
        /* border: 2px solid red; */
        max-width: 500px;
    }
/* 
    .hero-title{
        font-size: 2.5em;

    } */
}

@media(max-width:1099px){
    .hero-text{
        font-size: .8em;
        max-width: 550px;
    }

    }



/* 
    .hero-title{
    max-width: 560px;
   }
 */


 @media(max-width:1095px) {
    .hero-inner{
        /* border: 2px solid red; */
        padding: 18px 28px;
        gap: 10px;
     
    }

    .hero-left{
        /* border: 2px solid pink; */
        max-width: 490px;
    }


    .hero-title{
        /* border: 2px solid gold; */
        font-size: 2.8em;
        line-height: 1.15;
    }


    .hero-right img{
        max-width: 480px;
    }
 }



 @media(max-width:990px){
    .hero-inner{
        padding: 28px 36px;
       flex-direction: column;
       align-items: center;
       text-align: center;
    }


    .hero-left{
        max-width: 100%;
        align-items: center;
    }



    .hero-right img{
        display: none;
    }

    .hero-title{
    /* border: 2px solid red; */
    font-size: 2.6em;
    max-width: 550px;
    line-height: 1.2;
    font-weight: 700;
    }

    .hero-inner{
    max-width: 900px;
    }
 }
