@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family:  "Inter", sans-serif;

}


.alert{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #030B1D;
    padding: 16px 24px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    font-size: 15px;
    z-index: 300;
    color: white;
   
}

.fa-bars{
    /* border: 2px solid red; */
    font-size: 2em;
    color: white;
    display: none;
}


.links{
    display: flex;
    gap: 2em;
}

.links a{
    color: white;
   font-weight: 700;
}


.links a:hover{
    text-decoration: underline;
}

/* header starts here */

header{
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    background-color: #031335;
    z-index: 299;
}


  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
    /* padding: 14px 50px; */
    /* padding: 22px 60px; */
}

.logo img{
    width: 150px;
    display: block;
}

.left-nav{
    display: flex;
    align-items: center;
    gap: .5em;
    /* gap: 2em; */
}

.page-type{
    display: flex;
    gap: .5em;
}

.page-type li a{
    color: #ffffff;
    /* padding: 6px 16px; */

}

.right-nav{
    display: flex;
    align-items: center;
    gap: 1em;
}

.right-nav a{
    color: #ffffff;
}

.signin-btn{
    background-color: #C4E9FD;
    border: none;
    color: black;
    padding: 10px 12px;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 600;
}

.flag img{
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    margin-top: 2px;
}


.active-tab{
    background-color: #35425D;
    padding: 10px 16px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
}

.personal:hover{
    background-color: #35425D;
    padding: 10px 16px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
    
}



/* Header media query starts here */

@media(max-width:994px){
    .header-cont{
        border: 2px solid gold;
        max-width: 100%;
        /* padding: 12px 24px 48px; */
        position: relative;

    }

   
    /* .logo{
   
        position: relative;
        top: 50px;
    } */

    
    

    .page-type li a{
        /* font-size: 13px; */
        padding: 8px 14px;
    }

    .right-nav li{
        display: none;
    }

    .fa-bars{
        display: block;
        /* position: relative;
        top: 50px; */
       
    }
  
   .page-type{
    display: none;
   }

   }


@media(max-width:625px){
    .alert{
       display: flex;
       flex-direction: column;
       top: auto;
       bottom: 0;
       left: 0;
       width: 100%;
       text-align: center;
    }

    header{
        top: 0;
        /* display: flex; */
        /* justify-content: space-around; */
        /* align-items: center; */
    }
}



/* hero section starts here  */

.hero{
    width: 100%;
    background-color: #031335;
    position: relative;
    z-index: 1;
    top: 120px;
    /* padding: 40px 0 70px; */
}

.hero-inner{
    /* border-radius: 0 0 40px 40px; */
    /* max-width: 1200px; */
     /* background-color: #031335; */
    margin: 0 auto;
    padding: 28px 36px;
    /* padding: 0 40px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-left{
    /* border: 2px solid gold; */
    max-width: 550px;
    color: #ffffff;
}


.herobadge{
    display: inline-block;
    background-color: #3E588E;
    padding: 20px 18px;
    border-radius: 30px;
    font-size: 14px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.15);

}

.hero-title{
    font-size: 3.4em;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-title span{
    color: #C4E9FD;
    display: inline-block;
}


.hero-text{
    font-size: 1em;
    opacity: 0.7;
    line-height: 1.6;
    margin-bottom: 30px;

}

.hero-btn{
   background-color: #0357EE;
   color: #ffffff;
   border: none;
   padding: 20px 28px;
   border-radius: 10px;
   font-weight: 600;
   cursor: pointer;
   margin-bottom: 25px;
   transition: 0.3s ease-in-out;
}

.hero-btn:hover{
    opacity: 0.9;
}

.hero-trust{
    font-size: 11px;
    /* margin-top: 20px; */
    opacity: 0.8;
}

.hero-right img{
    object-fit: cover;
   
    
}