@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family:  "Inter", sans-serif;

}

.alert{
    width: 100%;
    background-color: #030B1D;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    /* text-align: center; */
    font-size: 15px;
  color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
}

.links{
    display: flex;
    gap: 4em;
}

.links a{
    color: white;
   font-weight: 700;
}


.links a:hover{
    text-decoration: underline;
}

/* header starts here */

header{
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    background-color: #031335;
    z-index: 299;
}

 header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 14px 50px; */
    padding: 22px 60px;
}

.logo img{
    width: 150px;
    display: block;
}

.left-nav{
    display: flex;
    align-items: center;
    gap: 2em;
}

.page-type{
    display: flex;
    gap: 2em;
}

.page-type li a{
    color: #ffffff;
    /* padding: 6px 16px; */

}

.right-nav{
    display: flex;
    align-items: center;
    gap: 3em;
    /* gap: 20px; */
}

.right-nav a{
    color: #ffffff;
}

.signin-btn{
    background-color: #C4E9FD;
    border: none;
    color: black;
    padding: 10px 12px;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 600;
}


.active-tab{
    background-color: #35425D;
    padding: 10px 16px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
}

.personal:hover{
    background-color: #35425D;
    padding: 10px 16px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
    
}


/* hero section starts here  */
.hero{
    position: relative;
    top: 120px;
    background-color: #031335;
    padding: 40px 0 70px;
}

.hero-inner{
    border-radius: 0 0 40px 40px;
    padding: 28px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-left{
    flex: 1;
    color: #ffffff;
}


.herobadge{
    display: inline-block;
    background-color: #3E588E;
    padding: 12px 18px;
    border-radius: 999px;
    font-size: 12px;
    margin-bottom: 20px;

}

.hero-title{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 16px;
}

.hero-title span{
    color: #C4E9FD;
    display: inline-block;
}


.hero-text{
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 24px;

}

.hero-btn{
   background-color: #0357EE;
   color: #ffffff;
   border: none;
   padding: 12px 26px;
   border-radius: 10px;
   font-weight: 600;
   cursor: pointer;
   margin-bottom: 18px;
}

.hero-btn:hover{
    opacity: 0.9;
}

.hero-trust{
    font-size: 11px;
    opacity: 0.8;
}

.hero-right{
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    justify-content: center;
}