@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family:  "Inter", sans-serif;

}




.alert{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 24px;
    background-color: #FFF0C2;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    font-size: 15px;
    z-index: 300;
    color: white;
   
}

.alert p{
    color: black;
}

.fa-bars{
    font-size: 2em;
    color: white;
    display: none;
}


.links{
    display: flex;
    gap: 2em;
}

.links a{
    color: #0357EE;
   font-weight: 700;
}


.links a:hover{
    text-decoration: underline;
}

/* header starts here */

header{
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    background-color: #031335;
    z-index: 299;
}


  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 36px;
}

.logo img{
    width: 150px;
    display: block;
}

.left-nav{
    display: flex;
    align-items: center;
    gap: .5em;
}

.page-type{
    display: flex;
    gap: .5em;
}

.page-type li a{
    color: #ffffff;

}

.right-nav{
    display: flex;
    align-items: center;
    gap: 1em;
}

.right-nav a{
    color: #ffffff;
}

.signin-btn{
    background-color: #C4E9FD;
    border: none;
    color: black;
    padding: 10px 12px;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 600;
}

.flag img{
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    margin-top: 2px;
}


.active-tab{
    background-color: #35425D;
    padding: 10px 16px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
}

.personal:hover{
    background-color: #35425D;
    padding: 10px 16px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
    
}



/* Header media query starts here */

@media(max-width:994px){
    .header-cont{
        max-width: 100%;
        position: relative;

    }

    .page-type li a{
        padding: 8px 14px;
    }

    .right-nav li{
        display: none;
    }

    .fa-bars{
        display: block;
        color: #0357EE;
    }
  
   .page-type{
    display: none;
   }

   }


@media(max-width:625px){
    .alert{
       display: flex;
       flex-direction: column;
       top: auto;
       bottom: 0;
       left: 0;
       width: 100%;
       text-align: center;
    }

    header{
        top: 0;
    }

}

@media(max-width:557px){
    nav{
        padding: 20px 28px;
    }
    

}

@media(max-width:427px){

    .logo{
        width: 120px;
    }

    .fa-bars{
        font-size: 1.8em;
        margin-top: 5px;
    }


    nav{
        padding: 20px 24px;
    }
    

}   

/* another section starts here */

.hero{
    background-color: #F8FAFD;
    position: relative;
    z-index: 280;
    top: 120px;
    /* margin-bottom: 0; */
    padding: 28px 20px;
    overflow: hidden;
}



.hero-inner{
    /* border: 2px solid red; */
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /* padding: 28px 36px; */
    padding: 8px 20px;
}



.hero-right img{
    width: 100%;
    /* height: auto; */
   max-width: 750px; 
   /* display: block; */
   /* object-fit: contain; */
}

.hero-title{
    color: #031335;
   font-size: 3.5em;
   margin: 0;
   /* min-width: 500px; */
   margin-bottom: 20px;
}

.hero-title span{
    color: #FFF0C2;
}

.hero-text{
    color: #3E588E;
    font-size: 1.18em;
    margin: 0;
    max-width: 560px;
    margin-bottom: 20px;
}



.store-btns{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.store-btn{
    border: none;
    background-color: #092256;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
}


.store-btn img{
    width: 30px;
    height: auto;
}


.store-text small{
    font-size: 12px;
    opacity: 0.9;
    display: block;
}


.hero-trust{
    font-size: 11px;
    opacity: 0.8;
    color: #ffffff;
}


.store-text span{
    font-size: 16px;
    font-weight: 700;
}

.hero-newtext{
    color: #032858;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-right{
    flex: 1 1 54%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hero media query  */

@media(max-width:1400px){
    .hero-inner{
        max-width: 1200px;
        gap: 36px;

    }
 
}

@media(max-width:1044px){
   .hero-title {
    /* border: 2px solid red; */
    font-size: 2.5em;
   }

   .hero-text{
    max-width: 380px;
   }

}


@media(max-width:838px){
   .hero-right img {
    /* border: 2px solid red; */
    display: none;
   }
   
   
   
}


/* new section starts here */

.spending-sect{
    background-color: #F8FAFD;
    width: 100%;
    padding: 80px 0;
    position: relative;
    z-index: 270;
    top: 120px;
    display: flex;
    justify-content: center;
}


.spending-inner{
    max-width: 1500px;
    width: 100%;
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 32px;
    padding: 40px 32px;
}



.spending-left{
    position: sticky;
    align-items: flex-start;
    padding: 20px;
    top: 110px;
}

.spending-left h2{
    font-size: 2.5em;
    line-height: 1.2;
    color: #092256;
    margin-bottom: 24px;
}


.spending-left h2 span{
    color: #0357EE;
}


.spending-btn{
    padding: 12px 28px;
    border-radius: 8px;
    border: none;
    background-color: #0357EE;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}


.spending-right{
    width: 100%;
}


.spending-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-bottom: 28px;
}


.spending-card{
    background: #ffffff;
    border-radius: 18px;
    padding: 24px 24px 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.spending-card h3{
    margin: 0 0 8px 0;
    font-size: 18px;
    line-height: 1.3;
    color: #092256;
}

.spending-card p{
    font-size: 14px;
    line-height: 1.5;
    color: #092256;
}


.spending-card img{
    margin-top: 16px;
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
}

/* another section starts here  */

.open-account{
    position: relative;
    top: 120px;
    padding: 80px 0;
    background-color:#F5F7FA
}

.open-account-inner{
    max-width: 1200px;
    margin: 0 auto;
}


.open-account-top{
    display: flex;
    align-items: center;
    gap: 5em;
    margin-bottom: 50px;
}


.open-account-top h2{
    font-size: 2.4em;
    color: #092256;
    line-height: 1.1;

}

.open-account-img{
    width:220px;
}


.open-account-steps{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
}


.step-card{
    width: 300px;
    min-height: 220px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0,4);
    border: 1px solid rgba(0, 0, 0, 0,4);
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.step-card h3{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.step-card p{
    line-height: 1.5;
   color: #3E588E;
   margin: 0;
}


.step-number{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid rgba(11, 102, 255, 0.18);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    font-weight: 600;
   color: #14213d;
   background: #fff;
}



.store-btns2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

