@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family:  "Inter", sans-serif;

}



.alert{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #030B1D;
    padding: 16px 24px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    font-size: 15px;
    z-index: 300;
    color: white;
   
}

.fa-bars{
    /* border: 2px solid red; */
    font-size: 2em;
    color: white;
    display: none;
}


.links{
    display: flex;
    gap: 2em;
}

.links a{
    color: white;
   font-weight: 700;
}


.links a:hover{
    text-decoration: underline;
}

/* header starts here */

header{
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    background-color: #031335;
    z-index: 299;
}


  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 36px;
}

.logo img{
    width: 150px;
    display: block;
}

.left-nav{
    display: flex;
    align-items: center;
    gap: .5em;
}

.page-type{
    display: flex;
    gap: .5em;
}

.page-type li a{
    color: #ffffff;

}

.right-nav{
    display: flex;
    align-items: center;
    gap: 1em;
}

.right-nav a{
    color: #ffffff;
}

.signin-btn{
    background-color: #C4E9FD;
    border: none;
    color: black;
    padding: 10px 12px;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 600;
}

.flag img{
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    margin-top: 2px;
}


.active-tab{
    background-color: #35425D;
    padding: 10px 16px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
}

.personal:hover{
    background-color: #35425D;
    padding: 10px 16px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
    
}



/* Header media query starts here */

@media(max-width:994px){
    .header-cont{
        max-width: 100%;
        position: relative;

    }

    .page-type li a{
        padding: 8px 14px;
    }

    .right-nav li{
        display: none;
    }

    .fa-bars{
        display: block;
    }
  
   .page-type{
    display: none;
   }

   }


@media(max-width:625px){
    .alert{
       display: flex;
       flex-direction: column;
       top: auto;
       bottom: 0;
       left: 0;
       width: 100%;
       text-align: center;
    }

    header{
        top: 0;
    }

}

@media(max-width:557px){
    nav{
        padding: 20px 28px;
    }
    

}

@media(max-width:427px){

    .logo{
        /* border: 2px solid gold; */
        width: 120px;
    }

    .fa-bars{
        font-size: 1.8em;
        margin-top: 5px;
    }


    nav{
        padding: 20px 24px;
    }
    

}

/* hero section starts here */



.hero{
    /* width: 100%; */
    background-color: #0357EE;
    position: relative;
    z-index: 280;
    top: 120px;
    margin-bottom: 0;
}

 /* .hero-inner{
    margin: 0 auto;
    padding: 28px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}  */



.hero-inner{
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 28px 36px;
}


.hero-left{
    /* border: 2px solid red; */
    padding-top: 20px;
}

.hero-right img{
   width: 600px; 
}

.hero-title{
    color: #ffffff;
   font-size: 4em;
   margin-bottom: 20px;
}

.hero-title span{
    /* border: 2px solid goldenrod; */
    color: #FFF0C2;
}

.hero-text{
    color: #B8C2D6;
    font-size: 1.2em;
    margin-bottom: 20px;
}


/* .hero-btn1{
   background-color: red;
   color: #ffffff;
   border: none;
   padding: 20px 28px;
   border-radius: 10px;
   font-weight: 600;
   cursor: pointer;
   margin-bottom: 25px;
   transition: 0.3s ease-in-out;
} */

.store-btns{
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.store-btn{
    /* border: 2px solid red; */
    border: none;
    background-color: #092256;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
}


.store-btn img{
    width: 30px;
    height: auto;
}


.store-text small{
    font-size: 12px;
    opacity: 0.9;
    display: block;
}


.hero-trust{
    font-size: 11px;
    opacity: 0.8;
    color: #ffffff;
}


.store-text span{
    font-size: 16px;
    font-weight: 700;
}



/* another section starts here */

.bwm-sect{
    position: relative;
    background-color: #ffffff;
    z-index: 280;
    top: 120px;
    margin-bottom: 0;
    padding: 120px 65px;
    /* padding: 80px 0; */
    /* padding: 80px 0 120px; */
   

}



.feature-inner{
    /* border: 2px solid red; */
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


.feature-copy{
    flex: 1;
}

.feature-tag{
    display: inline-block;
    padding: 6px 18px;
    border-radius: 999px;
    background-color: #ECF2FE;
    color: #022C77;
    margin-bottom: 18px;
    /* font-size: 13px; */
    /* font-weight: 500; */
}


.feature-title{
    font-size: 2.5em;
    line-height: 1.2;
    color: #092256;
    margin-bottom: 18px;
}


.feature-text{
    font-size: 1.2em;
    line-height: 1.6;
    color: #3E588E;
    max-width: 450px;
    margin-bottom: 24px;

}


.feature-btn{
    padding: 12px 28px;
    /* border-radius: 999px; */
    border: none;
    border-radius: 10px;
    background-color: #0357EE;
    color: white;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}


.feature-image{
    flex: 1;
    display: flex;
    justify-content: center;
}


.feature-image img{
    max-width: 700px;
    margin-top: 60px;
    /* border: 2px solid red; */
    width: 100%;
    display: block;
}


.top-sect h1{
    /* border: 2px solid red; */
    text-align: center;
    font-size: 3.5em;
    font-weight: 600;
}


.top-sect span{
    color: #0357EE;
}


.top-sect p{
    text-align: center;
    padding-top: 20px;
    font-size: 1.3em;
}




/* another section starts here  */


.benefit-sect{
    background-color: #F8FAFD;
    position: relative;
    top: 130px;
    padding: 80px 0;
}

.benefit-inner{
    max-width: 1400px;
    /* margin: 0 auto; */
    margin: auto;
    padding: 0 24px;
}

.benefit-head{
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 5em;
    margin-bottom: 40px;
}


.benefit-small{
    /* font-size: 1.3em;
    color: #092256;
    margin-bottom: 8px; */
    /* border: 2px solid red; */
    text-align: right;
}


.benefit-title{
    font-size: 22px;
    font-weight: 400;
    color: #496295;
}


.benefit-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 3em;
    /* justify-content: center;
    align-items: center; */
}

.benefit-card{
    background: #ffffff;
    border-radius: 24px;
    padding: 32px 28px;
    box-shadow: 0 18px 45px rgba(15, 23, 42, 0.05);
    /* padding: 40px 40px 45px; */
}

.benefit-icon{
    width: 40px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 16px;
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

.benefit-icon img{
    max-width: 100px;
}


.benefit-label{
    font-size: 1.2em;
    color: #0357EE;
    font-weight: 600;
    margin-bottom: 8px;
}

.benefit-heading{
    font-size: 1.3em;
    margin-bottom: 10px;
}

.benefit-text{
    font-size: 18px;
    color: #3E588E;
    line-height: 1.6;
}


/* another section starts here */

.open-account{
    position: relative;
    top: 130px;
    padding: 80px 0;
    background-color:#F5F7FA
}

.open-account-inner{
    max-width: 1100px;
    margin: 0 auto;
}

.open-account-top{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 3.5em;
    margin-bottom: 40px;
}


.open-account-top h2{
    /* border: 2px solid red; */
    font-size: 2.4em;
    color: #092256;
}

.open-account-img{
    width:220px;
}


.open-account-steps{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
}


.step-card{
    /* border: 2px solid gold; */
    flex: 1;
    font-size: 15px;
}

.step-card h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    /* color: #3E588E; */
}

.step-card p{
    line-height: 1.5;
   color: #3E588E;
}


.step-number{
    border: 2px solid plum;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #d0d5dd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    font-weight: 600;
   color: #14213d;
}





